@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #212529;
    color: white;
}

.blacks{
    background-color: #212529;
}

.header{
    position: sticky;
    top: 0;
    z-index: 99;
}

footer{
    bottom:0; 
    left:0; 
    right: 0;
    max-height: 400px;
}

.text-center .p-3{
    margin: 0 auto;
    margin-top: -10rem;
}

iframe{
    display:block;
    justify-content: center;
    margin: 0 auto;
}

.info{
    margin-top: 40px;
    margin-bottom: 30px;
}

.col{
    margin-bottom: 30px;
}

.col img{
    height: 450px;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
}

.colimg{
    position: relative;
    text-align: center;
}

.kor{
    height: 450px;
    width: 93%;
    position: absolute;
    top: 60px;
    opacity: 0;
}

.tekst h5{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    color: black;
    position: absolute;
}

.kor:hover{
    opacity: 1;
    top: 0;
}

.kor::before{
    color: black;
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top:0;
    left:0;
    background: rgba(255,255,255,.8);
    clip-path: circle(0% at 50% 0);
    transition: .3s linear;
}

.kor:hover::before{
    clip-path: circle(100%);
}

.container{
    margin-bottom: 200px;
}

.check-label {
    display: block;
}

.slider{
    margin-top: 20px;
    margin-bottom: -150px;
}

.content{
    margin-bottom: -190px;
}

.table{
    margin-bottom: 423px;
}

table {
    width: 100%;
    table-layout: fixed;
}

table td {
width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
}
  
td p {
margin: 0;
height: 1em;
padding: 0.5em;
}

.buttons{
    width: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vh-100{
    margin-top: -150px;
    margin-bottom: -100px;
}

.list-group{
    margin-left: 50px;
    width: 15%;
    height: 100%;
    margin-bottom: 25px;
}


.filmlist{
    margin-top: 50px;
    margin-bottom: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filmlist img{
    height: 400px;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
}

.btn-success{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
}

.py-5{
    margin-bottom: 350px;
}

.font-weight-bold{
    font-weight: bold;
}

.rezervet-modal .modal-content{
    background: #777;
}

.rezervet-film .movie-container label {
    margin-right: 10px;
    font-weight: 700;
    font-size: 15px;
}

.rezervet-film .movie-container select {
    padding: 5px;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
}

.rezervet-film .showcase {
    border-radius: 7px;
    display: flex;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    list-style: none;
    font-weight: 500;
    margin: 20px 0;
    color: #fefcfc;
}

.rezervet-film .showcase li {
    margin: 0 10px;
}

.rezervet-film .showcase li small {
    margin-left: 3px;
}

.rezervet-film .seat {
    height: 50px;
    width: 50px;
    background-color: #d04343c4;
    display: inline-block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid black;
    margin: 3px;
}

.rezervet-film .seat.selected {
    background-color: rgb(115, 115, 253);
}

.rezervet-film .seat.occupied {
    background-color: #fff;
}

.rezervet-film .seat.rezerved {
    background-color: #76c3f2;
}

.rezervet-film .container {
    width: 700px;
    perspective: 1000px;
}

.rezervet-film .container .screen {
    width: 100%;
    height: 90px;
    background-color: #fff;
    transform: rotateX(-45deg);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 1);
    margin: 10px 0;
}

.rezervet-film .row .seat:nth-of-type(2) {
    margin-right: 10px;
}

.rezervet-film .row .seat:nth-last-of-type(2) {
    margin-left: 10px;
}

.rezervet-film .container .seat {
    margin-left: 2px;
}

.rezervet-film .container .seat:not(.occupied,.rezerved):hover {
    transform: scale(1.2);
    cursor: pointer;
}

.rezervet-film .text span {
    color: rgb(236, 150, 150);
}

.rezervet-film .text {
    color: rgb(255, 255, 255);
}

.rezervet-film .seats{
    padding: 0 60px;
}

.rezervet-film .container{
    margin-bottom: 0;
}